@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(10, 9, 9);
  position: fixed;
  font-family: 'Nanum Gothic Coding', monospace;
  user-select: none;
  /* background-color: black; */
}

label{
  color: crimson;
  text-align: left;
}

input{
  height: 2rem;
  color: rgb(11, 11, 11);
  border: none;
  /* border-bottom: 2px solid black; */
  width: 18rem;
}
#sub-btn{
  /* background-color: #484848; */
  background-image: linear-gradient(45deg, #484848 0%, #00e2f6 22%, #cd1315 49%);
  color: white;  
  width: 5rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;

}
.machine{
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  user-select: none;
}
.machine *{
  position: absolute;
}
#heart{
  bottom: 0;
  right: 0;
}
#iron_man{
  bottom: 0;
  left: 0;
}
/* time css to be done */
 .in_middle{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;
  align-items: center;
  border:1rem solid lightseagreen;
  line-height: 2;
  /* gap: 1vh; */
  /* height: 50vh; */
  /* overflow-y: scroll; */
}
.in_middle *{
  position: static;
}
.in_middle ::-webkit-scrollbar{
    display: none;
}
.in_middle ::-webkit-scrollbar-track{
    border-radius: 2rem;
}
.in_middle ::-webkit-scrollbar-thumb{
  background-color: #cd1315;
  border-radius: 2rem;
} 

.icon{
  height: 2rem;
  width: 2.5rem;
  object-fit: cover;
  padding: 1rem;
  /* background-color: white; */
  border-radius: 50%;
}
.count *{
  position: static;
  
}

.count{
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.battery{
  left: 2rem;
  top: 1rem;
  gap: 1rem;
  /* width: 200px; */
  /* transform:translate(-50%) ; */
}
.data{
  left: 55rem;
}
.clock{
  width: 6rem;
  top: 4rem;
  left: 2rem;
  gap: 1rem;
}

.internet{
  top: 7rem;
  width: 6rem;
  gap: 10px;
  left: 2rem;
}
.messages{
  bottom: 1rem;
  left: 30rem;
  transform: translate(-50%,0);
  width: 35rem;
  height: 15rem;
  
  overflow: auto;
  white-space: nowrap;
  display: flex;
   flex-direction:column-reverse;
  align-items: flex-end;
  justify-content:center; 
  padding-bottom: 2rem;
  /* z-index: 1000; */
  font-size: 1rem;
}
.messages::-webkit-scrollbar{
  display: none;
}
.usermsg , .jmsg{
  position: relative;
  /* margin: 5px 0; */
  display: flex;
  overflow: visible;
}
.usermsg{
  text-align: right;
  width: 10rem;
  color: #00e2f6;
  max-height: 4rem;
  margin-bottom:-1rem;
}
.jmsg{
  text-align: left;
  margin-top: 5rem;
  width: 20rem; 
  color: #cd1315;
  max-height: 4rem;
}

.commands{
  display: none;
  background-color: white;
}

.commands p {
  color: darkred;
}
#start_rolex_btn{
  border: none;
  outline: none;
  position: fixed;
  /* left: 10px; */
  transform: translateX(0);
  top: 20vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#start_rolex_btn img{
  height: 40vh;
}
.new_rolex_window{
  display: none;
}
@media (max-width:480px) {
   #heart{
    object-fit: cover;
    align-items: center;
  justify-content: center;
  right: -9rem;
    /* width: -3rem; */
    height:31rem;
  }
  .hide_on_small{
    display: none;
  }
  .new_rolex_window{
    display: block;
  }
  #start_rolex_btn{
    /* object-fit: cover; */
    width: 2rem;
    height: 6rem;
    top: 1rem;
    left: 10rem;
  }
  .rolex_setup {
    display: none;
  }
  #iron_man{
    display: none;
  }
  #jarvis_start{
    display: none;
  }
}
